/*{
    border: 1px solid rgb(0, 216, 216);
}

/*^^^ Debuging ^^^*/

 /* Header */
.navbar {
    display: flex;
}

ul {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8 ;
}

 header {
    background-color: #1F2937;
    color: #F9FAF8;
 }

.header-container {
    display: flex;
    margin: 6% 0%;
}

.header-container button {
    background-color: #3882F6;
}

.header-text {
    margin-right: 3%;
}


/* Body */
.body-container {
    display: flex;
    flex-direction: column;
}

.body-container h2 {
    text-align: center;
}

.info {
    display: flex;
    padding: 5% 8%;
}

.info figure {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.info img {
    border: 2px solid #3882F6;
    border-radius: 16px;
}

.quote {
    margin: 5% 14%;
    background-color: #E5E7EB;
}

.signup-container {
    background-color: #3882F6;
    display: flex;
    margin: 10%;
}

.sign-up {
    margin: 10px 10px
}

.signup-container button {
    margin: auto;
    width: 100px;
    height: 35px;
}

/* Footer */

footer {
    background-color: #1F2937 ;
    text-align: center;
    color: #F9FAF8 ;
    height: 50px;
}
