/* Hero */

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5px 15% 8% 15%;
}

nav {
    display: flex;
}

ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8 ;
}

.hero-sec {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.hero-sec .hero-text {
    margin-right: 10%;
}

.hero-sec button {
    background-color: #3882F6;
    margin-top: 16px;
    width: 100px;
    height: 35px;
}

.hero-sec .main {
    font: 48px  bolder ;
    font-weight: bolder;
}

.hero-sec .second {
    font-size: 18px;
}


/* Info */


.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.info-container h1 {
    font: 36px bolder;
    text-align: center;
    margin: 50px;
}

.info {
    display: flex;
    justify-content: center;
}

.info figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    margin: 16px;
}

.info img {
    border: 2px solid #3882F6;
    border-radius: 16px;
    margin: 8px;
}

.info figcaption {
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-align: center;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
    padding: 0 15%;
}

.quote .text {
    font: 36px italic;
    color: #1F2937;
    padding: 100px 50px;
}


.signup-container {
    background-color: #3882F6;
    display: flex;
    margin: 10%;
}

.sign-up {
    margin: 10px 10px
}

.signup-container button {
    margin: auto;
    width: 100px;
    height: 35px;
}

/* Footer */

footer {
    background-color: #1F2937 ;
    text-align: center;
    color: #F9FAF8 ;
    height: 50px;
}
